/* TOPBAR --------------------------------------------------------------------------------*/
/* topbar */
.dark #layout-topbar {
  background-color: #455a64;
}
.dark #menu-button {
  border-right: solid 1px #546E7A;
}
.dark #menu-button:hover,
.dark #menu-button.active-menu {
  background-color: #546e7a;
}
.dark #menu-button span {
  background-color: #b1bfc6;
}
/* topbar menu */
.dark #topmenu-button {
  color: #b1bfc6;
  border-left: solid 1px #546E7A;
}
.dark #topmenu-button:hover,
.dark #topmenu-button.active-menu {
  background-color: #546e7a;
}
.dark #top-menu > li > a {
  color: #b1bfc6;
}
.dark #top-menu > li > a:hover,
.dark #top-menu > li > a:focus,
.dark #top-menu > li > a.active-menu {
  background-color: #546e7a;
}
.dark #top-menu > li ul {
  background-color: #455a64;
}
.dark #top-menu > li > ul li a {
  color: #b1bfc6;
}
.dark #top-menu > li > ul li a:hover,
.dark #top-menu > li > ul li a:focus,
.dark #top-menu > li > ul li a.active-menu {
  background-color: #546e7a;
}
/* MENU ----------------------------------------------------------------------------------*/
/*Layout Menu Cover */
.dark #layout-menu-cover {
  background-color: #455a64;
}
/*Layout Default (Top) Menu */
.dark .layout-menu {
  color: #b1bfc6;
}
.dark .layout-menu-cover-top .layout-menu > li > a {
  color: #b1bfc6;
}
.dark .layout-menu-cover-top .layout-menu > li > a:hover,
.dark .layout-menu-cover-top .layout-menu > li > a:focus,
.dark .layout-menu-cover-top .layout-menu > li > a.active-menu {
  background-color: #546e7a;
}
.dark .layout-menu-cover-top .layout-menu > li ul {
  background-color: #455a64;
}
.dark .layout-menu-cover-top .layout-menu > li > ul {
  background-color: #455a64;
}
.dark .layout-menu-cover-top .layout-menu > li > ul li a {
  color: #b1bfc6;
}
.dark .layout-menu-cover-top .layout-menu > li > ul li a:hover,
.dark .layout-menu-cover-top .layout-menu > li > ul li a:focus,
.dark .layout-menu-cover-top .layout-menu > li > ul li a.active-menu {
  background-color: #546e7a;
}
/* Main Menu Styles For Left Place */
.dark .layout-menu-cover-left .layout-menu > li {
  border-bottom: dotted 1px #546E7A;
}
.dark .layout-menu-cover-left .layout-menu > li > a {
  color: #b1bfc6;
}
.dark .layout-menu-cover-left .layout-menu > li > a:hover,
.dark .layout-menu-cover-left .layout-menu > li > a:focus,
.dark .layout-menu-cover-left .layout-menu > li > a.active-menu {
  background-color: #546e7a;
}
.dark .layout-menu-cover-left .layout-menu > li > ul {
  background-color: #455a64;
}
.dark .layout-menu-cover-left .layout-menu > li > ul li a {
  color: #b1bfc6;
}
.dark .layout-menu-cover-left .layout-menu > li > ul li a:hover,
.dark .layout-menu-cover-left .layout-menu > li > ul li a:focus,
.dark .layout-menu-cover-left .layout-menu > li > ul li a.active-menu {
  background-color: #546e7a;
}
.dark .layout-menu-cover-left .menu-level-3 li a {
  padding-left: 60px !important;
}
/* MEDIA QUERIES **************************************************************************************************************** */
/* Portrait tablet to landscape and desktop */
@media (min-width: 640px) and (max-width: 960px) {
  .dark #top-menu {
    background-color: #455a64;
  }
  .dark #top-menu > li ul.active-menu {
    background-color: #4c626d;
  }
  .dark .layout-menu-cover-top .layout-menu > li {
    border-bottom: dotted 1px #546E7A;
  }
}
/* Landscape phone to portrait tablet */
@media (min-width: 480px) and (max-width: 640px) {
  .dark #top-menu {
    background-color: #455a64;
  }
  .dark #top-menu > li ul.active-menu {
    background-color: #4c626d;
  }
  .dark .layout-menu-cover-top .layout-menu > li {
    border-bottom: dotted 1px #546E7A;
  }
}
/* Portrait phones and down */
@media (max-width: 480px) {
  .dark #top-menu {
    background-color: #455a64;
  }
  .dark #top-menu > li ul.active-menu {
    background-color: #4c626d;
  }
  .dark .layout-menu-cover-top .layout-menu > li {
    border-bottom: dotted 1px #546E7A;
  }
}
/* -------------------------------------------------------------------*/
/* for landscape phones and tablets */
@media (min-height: 320px) and (max-height: 560px) {
  .dark .layout-menu-cover-top .layout-menu > li {
    border-bottom: dotted 1px #546E7A;
  }
}
/* topbar */
.topbar-shadow {
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}
/* topbar menu */
.topbar-menu-submenu-shadow {
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
}
/* main menu */
.mainmenu-cover-shadow {
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}
.mainmenu-left-cover-shadow {
  -webkit-box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.1) !important;
  -moz-box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.1) !important;
  box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.1) !important;
}
.mainmenu-submenu-shadow {
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
}
/* cards */
.card-border-radius {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
/* misc */
.short-transition {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.medium-transition {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.long-transition {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.no-transition {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.no-transform {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -o-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
}
/* DARK ADAMANTIUM */
/* topbar */
/* topbar menu */
/* main menu */
/* for mobile devices */

